.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

#about {
  display: grid;
  grid-template-columns: repeat(4, auto);

  padding: 3rem 0;

  column-gap: 40px;
}

#about > ul {
  display: flex;
  flex-direction: column;

  padding: 0;
  margin: 0;
}

#about > ul > li:first-child {
  margin-bottom: 14px;
}

#about a {
  line-height: 24px;
}

#about > ul > li > h4,
#about > div > h4 {
  color: $white;
  text-transform: $t-up;
}

.socials > a {
  margin-right: 24px;
}

#footer-navigation {
  display: flex;
  padding: 2rem 0;
}

#footer-navigation > a {
  margin-right: 16px;
}

#footer-navigation > a:hover,
#about > ul > li > a:hover {
  color: $white;
}

hr {
  width: 99vw;
}

@media screen and (max-width: 700px) {
  #about {
    grid-template-rows: repeat(4, auto);
    grid-template-columns: auto;
  }

  #about > ul > li:first-child {
    margin-top: 30px;
  }

  #footer-navigation {
    flex-direction: column;
  }

  #footer-navigation > a {
    margin-bottom: 16px;
  }
}
