.navigation-list {
  position: absolute;
  top: 25px;

  display: flex;
  width: 100%;

  margin: 0;
  padding: 0;
}

.navigation-item > a {
  margin-right: 24px;

  font-size: $t-11;
  text-transform: $t-up;
}

.navigation-item > a:hover {
  color: $white;
}

.navigation-item:first-child {
  display: flex;

  margin: 0;
  padding-right: 90px;
}

.navigation-item:last-child {
  margin: 0;
  margin-left: auto;
}

#search {
  box-sizing: border-box;
  width: 248px;
  height: 25px;

  padding: 5px 10px;

  color: $white;

  background: $dark;

  border: none;
  border-radius: 50px;

  outline: none;
}

#search:-webkit-input-placeholder {
  color: $grey-search;
}

.navigation-item:last-child > label {
  font-size: $t-11;
}

.logo {
  position: relative;
  top: -5px;

  width: 24px;

  margin-right: 16px;
}

@media only screen and (max-width: 860px) {
  .navigation-list {
    flex-direction: column;
  }

  .navigation-item {
    margin: 0;
  }

  .navigation-item:last-child {
    margin: 0;
    margin-top: 24px;
  }

  #search {
    width: 100%;
  }
}
