.news-item {
  display: flex;
  flex-direction: row;
}

.news-img {
  width: 575px;
  height: 286px;
}

.news-img {
  margin-right: 50px;
}

.news-reverse {
  margin-top: 64px;
}

.reverse-news-img {
  order: 2;

  margin-left: 50px;
}

.news-body {
  width: 575px;
}

.news-author {
  display: grid;
  grid-template-columns: 20px repeat(2, 75px);

  margin-top: 24px;
  margin-bottom: 48px;

  column-gap: 16px;
}

.news-author > img {
  grid-column: 1;
  width: 19px;
  height: 19px;
}

.news-body > p {
  font-size: $t-16;
}

.news-name {
  grid-column: 2;

  color: $orange;
  font-size: $t-12;
}

.news-date {
  grid-column: 3;

  font-size: $t-12;
}

.news-header {
  margin-bottom: 30px;

  color: $white;
  font-size: $m-h1;
  line-height: 45px;
  text-transform: $t-cap;
}

.news-button {
  padding: 16px 30px;
}

@media screen and (max-width: 840px) {
  .news-item {
    flex-direction: column;
    align-items: center;
  }

  .news-header {
    margin-top: 50px;
    margin-bottom: 16px;

    font-size: $m-h3;
    line-height: 24px;
  }

  .news-img,
  .reverse-news-img {
    width: 375px;
    height: 186px;

    margin-right: 0;
    margin-left: 0;
  }

  .news-item > img {
    padding-right: 0;
  }

  .news-reverse > img {
    order: 1;

    padding-left: 0;
  }

  .news-body {
    max-width: 370px;
  }

  .news-reverse > .news-body {
    order: 2;
  }
}
