.pricing-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pricing-footer {
  color: $white;
  font-size: $t-16;
  text-align: center;
}

@media screen and (max-width: 1140px) {
  .pricing-container {
    justify-content: space-around;
  }
}
