.banner-main {
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}

.banner-artist {
  background-image: url("../images/MortenHarket.png");
  background-position: center;
  background-size: cover;
}

#page-description {
  padding: 200px 0;
}

.description-header,
.description-paragraph {
  color: $white;
  text-align: center;
}

.description-paragraph {
  margin-top: 30px;
}

.description-header-artist {
  margin-top: 55px;

  color: $white;
}

.description-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  max-width: 570px;

  margin: 17px auto 0;
  padding: 0;

  color: $white;
  font-size: $t-16;
  text-align: center;

  border: none;
}

.about-artist {
  margin: 16px 0 48px;

  color: $white;
}

.description-input {
  box-sizing: border-box;
  min-width: 270px;
  min-height: 50px;

  color: $white;

  background: none;
  outline: none;
}

.description-input.input {
  margin-bottom: 1.5rem;
  padding-left: 20px;

  border: 2px solid $dark-grey;
  border-radius: 3px;
}

.description-input.button {
  width: 100%;

  font-size: $t-13;

  background: $green;
  border: none;
}

.description-input.button:hover {
  color: $white;

  background: $orange;
}

.description-button-container {
  display: flex;
}

.description-input.button-artist {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  width: 200px;
  min-width: 200px;

  margin-right: 1.5em;
  margin-bottom: 1.5em;

  border: none;
}

.button-artist.purple {
  background: $purple;
}

.button-artist.red {
  background: $red;
}

.button-icon {
  width: 20px;

  margin-right: 16px;
}

path {
  fill: $white;
  stroke: $white;
}

@media only screen and (max-width: 860px) {
  .description-input {
    min-width: 100%;
  }

  .description-button-container {
    flex-direction: column;
  }

  h1 {
    margin-top: 50px;
  }

  .description-paragraph {
    margin-top: 16px;
  }

  .description-header-artist {
    margin-top: 25px;
  }
}
