.pricing-item {
  box-sizing: border-box;

  max-width: 370px;
  height: 615px;

  margin-bottom: 50px;
  padding: 1.5rem;

  border-radius: 1rem;
}

.pricing-item:first-child {
  background: url("../images/subscribe_1.png");
  background-position: center;
  background-size: cover;
}

.pricing-item:nth-child(2) {
  background: url("../images/subscribe_2.png");
  background-position: center;
  background-size: cover;
}

.pricing-item:last-child {
  background: url("../images/subscribe_3.png");
  background-position: center;
  background-size: cover;
}

.pricing-header {
  margin-bottom: 200px;

  color: $white;
  font-weight: $regular;
  font-size: $d-h3;
  text-align: center;
  text-transform: $t-up;
}

.pricing-value {
  margin-bottom: 40px;

  color: $white;
  font-size: $t-64;
  line-height: normal;
  text-align: center;
}

.pricing-value-rub {
  font-size: $t-32;
}

.pricing-button {
  width: 100%;

  font-size: $t-16;
}

.pricing-item-footer {
  width: 318px;
  margin-top: 64px;

  color: $white;
  font-size: $t-12;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .pricing-header {
    font-weight: $bold;
    font-size: $m-h3;
  }
}
