.item {
  margin-right: 50px;
  margin-bottom: 25px;
}

.item-img {
  width: 250px;
  height: 250px;
}

.item-header {
  color: $white;
  font-size: 18px;
  line-height: 27px;
  text-transform: $t-cap;
}

.artists-item-info {
  text-align: center;
}

@media screen and (max-width: 700px) {
    .item {
      width: 137px
    }

    .item-img {
    width: 137px;
    height: 137px;
  }
}
