body {
  margin: 0;
  padding: 0;

  overflow-x: hidden;

  background: $black;
}

.content-wrapper {
  position: relative;

  margin: $m-a;
}

.section {
  padding-top: 100px;

  background: $black;
}

.section-header {
  margin-bottom: 50px;

  color: $white;
  font-size: $d-h2;
  text-align: center;
  text-transform: $t-up;
}

.section-header.header-artist {
  text-align: start;
}

.button {
  display: inline-block;
  box-sizing: border-box;
  padding: 20px 30px;

  color: $white;
  font-weight: $regular;
  font-size: $t-12;
  text-align: center;
  text-transform: $t-up;

  background: none;

  border: 1px solid $white;
  border-radius: 5px;

  outline: none;
}

.button:hover {
  color: $black;

  background: $white;

  cursor: pointer;
}

@media only screen and (min-width: 1240px) {
  .content-wrapper {
    width: 1200px;
  }
}

@media only screen and (max-width: 1240px) {
  .content-wrapper {
    margin: 0 20px;
  }
}
