body {
    background: $grey;
    margin: 0;
    padding: 0;
}

.content-wrapper {
    position: relative;

    margin: $m-a;
}

.section {
    padding-top: 100px;
    background: $black;
}

.section-header {
    margin-bottom: 50px;

    text-align: center;
    color: $white;
}

.button {
    display: inline-block;
    box-sizing: border-box;
    padding: 20px 30px;

    text-align: center;
    font-size: $t-16;
    text-transform: $t-up;
    font-weight: $regular;
    color: $white;

    border: 1px solid $white;
    border-radius: 5px;

    background: none;
    outline: none;
}

@media only screen and (min-width: 1240px) {
    .content-wrapper {
        width: 1200px;
    }
}

@media only screen and (max-width: 1240px) {
    .content-wrapper {
        margin: 0 20px;
    }
}