$black: #08020d;
$grey: #e0e0e0;
$dark-grey: #cacaca;
$dark: #3c3b3d;
$grey-search: #757575;
$green: #34c176;
$orange: #f89202;
$purple: #5328a1;
$red: #95390c;
$white: #fff;
$d-h1: 60px;
$d-h2: 38px;
$d-h3: 24px;
$d-h4: 18px;
$d-h1: 60px;
$m-h1: 30px;
$m-h2: 18px;
$m-h3: 16px;
$m-h4: 18px;
$t-64: 64px;
$t-56: 56px;
$t-48: 48px;
$t-40: 40px;
$t-32: 32px;
$t-24: 24px;
$t-16: 16px;
$t-18: 18px;
$t-13: 13.3px;
$t-12: 12.8px;
$t-11: 11px;
$regular: 400;
$bold: 700;
$font: "Roboto", sans-serif;
$t-up: uppercase;
$t-cap: capitalize;
$m-a: 0 auto;
